---
const { img, hashtag, title, description, date } = Astro.props
const hashtagLength = [1, 2, 3, 4, 5, 6, 7, 8]
---
<div class='border-2 border-[#1F201F] flex md:flex-row flex-col-reverse w-full rounded-sm h-auto lg:h-[360px]'>
	<div class='relative w-full md:flex-1 h-auto lg:h-full overflow-y-hidden'>
		<img class='w-full lg:h-full object-cover' src={img} />
		<div class='absolute flex flex-col gap-7 right-2 top-2'>
			{ hashtagLength.map(() => (
				<div class='bg-white px-2 py-0.5 -rotate-90 border-2 border-black'>
					<p class='font-PODIUMSharp text-lg'>{hashtag}</p>
				</div>
			))
			}
		</div>
	</div>
	<div class='lg:h-full w-full md:w-auto border-2 border-[#1F201F]' />
	<div class='flex-1 px-5 py-2 lg:py-5 flex flex-col justify-between'>
		<p class='font-PODIUMSharp capitalize text-2xl tracking-wide py-2 lg:py-3'>{title}</p>
		<p class='font-Skie text-lg tracking-wide text-justify'>{description}</p>
		<div class='w-full flex justify-between items-center mt-2 lg:mt-10'>
			<div class=''>
				<p class='font-NothBlock text-lg'>Article by Thomas Spencer</p>
				<div class='border-[1.9px] w-[45%] border-retrobrownheader-800' />
			</div>
			<p class='font-PODIUMSharp'>{date}</p>
		</div>
	</div>
</div>